@model PagedList<Order>
<table class="table table=bordered table-striped">
    <tr>
        <th class="nowrap">
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th class="nowrap">
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th class="nowrap">
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th class="nowrap">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
        </tr>
    }
</table>

<nav aria-label="Page navigation">
    <div class="container">
        <div class="row justify-content-center">
            <mvcpager asp-model="@Model" ajax-enabled="true" ajax-update-target="table-container"
                      page-index-parameter-name="id" tag-name="ul"
                      class="pagination pagination-sm"                       
                      ajax-search-form="searchForm"
                      current-pager-item-template='<li class="page-item active"><a class="page-link" href="javascript:void(0);">{0}</a></li>'
                      disabled-pager-item-template='<li class="page-item disabled"><a class="page-link">{0}</a></li>'
                      pager-item-template='<li class="page-item">{0}</li>' pager-item-css-class="page-link"
                      page-index-box-id="inputPageIndex"
                      go-to-button-id="btnGoto"></mvcpager>
            <div class="col-2">
                <div class="input-group input-group-sm mb-3 pr-3">
                    <input type="number" id="inputPageIndex" class="form-control" placeholder="Enter page index" aria-label="Page index" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btnGoto">Go</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>